.list-wrap {
  padding: 21px;
}
.list-wrap .item-wrap {
  width: 100%;
  display: flex;
  align-items: center;
}
.list-wrap .item-wrap:not(:first-of-type) {
  padding-top: 10.5px;
}
.list-wrap .item-wrap:not(:last-of-type) {
  margin-bottom: 10.5px;
}
.list-wrap .item-wrap img {
  object-fit: cover;
  width: 64px;
  height: 64px;
  margin-right: 20px;
}
.list-wrap .item-wrap .item-right {
  width: calc(100% - 84px);
}
.list-wrap .item-wrap .item-right .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-wrap .item-wrap .item-right > div {
  line-height: 1.5;
}
