.article-info-wrap {
  padding: 10.5px;
  min-height: 100vh;

  h1 {
    margin: 20.1px 0;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
  }

  h2 {
    padding-bottom: 12px;
    font-size: 24px;
    border-bottom: 1px solid #ececec;
  }

  h3 {
    font-size: 18px;
    padding-bottom: 0;
  }

  &.card-bg {
    box-shadow: none;
  }
}