.app-header {
  display: flex;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
.app-header .links {
  display: flex;
}
.app-header .links > a {
  color: #4a4a4a;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 17.5px 10.5px;
  font-size: 14px;
  line-height: 1.5;
}
.app-header .links > a.active {
  color: #3273dc;
}
